html {
    font-size: 62.5%;
    box-sizing: border-box;
    zoom:80%;
    zoom: 0.8;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    width: 90vw;
    height: 100vh;
    margin: 0;
}

div.calc {
    margin: auto;
    display: flex;
    max-width: 50.3rem;
    min-width: 50.25rem;
    background-color: black;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    border-radius: 25px;
}

output {
   margin: 0 1.5rem;
}

ul {
    max-width: 90%;
    margin: 2rem auto;
}

ul li {
    display:inline-block;
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
    font-size: 4rem;
    margin: .5rem 0 0 0;
    background-color: white;
    border-radius: 50%;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
ul li:hover {
    background-color: wheat;
    cursor: pointer;
}
.nums {
    display: flex;
    width: 90%;
}

.answers {
    background-color: white;
    width: 80%;
    min-height: 10rem;
    height: auto;
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 25px;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 1rem;
}

.ac {
    border-radius: 5px;
    width: 16rem;
    margin: .5rem 0;
}

.del {
    border-radius: 5px;
    margin: .5rem 0;
    font-weight: 500;
    padding: 2.5rem 1rem;
    font-size: 3rem;
}